@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body{
  height: 100vh;
  display: flex;
  justify-content: center;
    align-items: center;
  background-color: #cee8e0;
  font-family: "Orbitron", sans-serif;
  color:#4b4b4b
}
h1{
  margin: 0 0 5rem 0;
  text-align: center;
  
}
.timer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 50px;
  background: linear-gradient(145deg, #dcf8f0, #b9d1ca);
  box-shadow:  33px 33px 66px #afc5be,
               -33px -33px 66px #edffff;
            
}
.timeLeft-wrapper{
display: flex;
align-items: center;
justify-content: center;
 width: 16rem;
 height: 5rem;
 border-radius: 0px;
 background: #ffffff;
 box-shadow: inset 13px 13px 26px #d9d9d9,
             inset -13px -13px 26px #ffffff;
 h2{
  
  font-size: 2rem;
  color: #ff3200;
 }
}
.button-wrapper{
  display: flex;
  justify-content: center;
  gap: 1rem;
button{
width: 5rem;
height: 5rem;
border: none;
border-radius: 50px;
transition: all 200ms linear;
border-radius: 50px;
background: linear-gradient(145deg, #b9d1ca, #dcf8f0);
box-shadow:  8px 8px 16px #afc5be,
             -8px -8px 16px #edffff;
/* &:hover{
  border-radius: 50px;
  background: #cee8e0;
  box-shadow:  20px 20px 60px #afc5be,
               -20px -20px 60px #edffff;
} */
&:active{
  border-radius: 50px;
  background: #cee8e0;
  box-shadow: inset 8px 8px 16px #afc5be,
              inset -8px -8px 16px #edffff;
}

}
}